.tip__wrapper-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .tip__window {
        position: relative;
        width: 30em;
        height: 25em;
        padding: 0.9em;
        z-index: 110;
        box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
        background-color: #000213;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .tip__button-close {
            position: absolute;
            top: .5em;
            right: .8em;

            & .tip__button-close-button {
                cursor: pointer;
                color: #ffffff;
                font-size: 1.5em;
                background-color: #000213;
                border: none;
                transition: color 0.2s;

                &:hover {
                    color: #d6d6d6;
                }
            }
        }

        & .tip__header {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        & .tip__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: .5em;

            & .tip__tip-div {
                border: #ffffff solid 3px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
            }
        }
    }

    & .tip__window-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ddddddb4;
    }
}