.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .input__paddock {
        border-radius: 50%;
        width: 3em;
        height: 3em;
        position: relative;
        margin: .5em;

        & .input__paddock-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.5s;
            font-size: 1.8em;
            color: #00b8f0;

            &.completed {
                color: #02fe03;
            }
        }
    }

    & .input__input {
        width: 100%;
        max-width: 500px;
        height: 2em;
        border: none;
        border-bottom: 2px solid #fff;
        font-size: 1em;
        padding: 0 auto;
        margin: 0;
        outline: none;
        background-color: #000213;
        color: #fff;
        margin: .5em;
        text-align: center;

        &::placeholder {
            text-align: center;
        }

        &:focus {
            border-bottom: 2px solid #fff;
        }
    }

    & .input__button {
        background-color: #00b8f0;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        position: relative;
        margin: .5em;
        border: none;
        cursor: pointer;

        & .input__button-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            font-size: 1.8em;
            color: #000213;
        }
    }
}