.level12__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .level12__puzzle {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: .5em 1em;

        & .level12__file {
            font-size: 20px;
            margin-top: .1em;

            & .level12__letter {
                margin-bottom: 1px;
            }

            & .level12__clue {
                border: #ffffff solid 1px;
                width: 3rem;
            }
        }
    }

    & .level12__guess-container{
        margin: 1em 0;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
    }
}