$breakpoints:(sm: 350px,
    md: 768px,
    xl: 1200px,
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.level12__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .level12__puzzle {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: .3em .8em;

        @include media-up(md) {
            padding: .8em 1em;
        }

        & .level12__file {
            font-size: 14px;
            margin-top: .1em;

            @include media-up(sm) {
                font-size: 18px;
            }

            @include media-up(md) {
                font-size: 20px;
            }

            & .level12__letter {
                margin-bottom: 1px;
            }

            & .level12__clue {
                border: #ffffff solid 1px;
                width: 2rem;

                @include media-up(sm) {
                    width: 2.5rem;
                }

                @include media-up(md) {
                    width: 3rem;
                }
            }
        }
    }

    & .level12__guess-container{
        margin: .5em 0;
        width: 100%;
        font-size: 18px;
        font-weight: bold;

        @include media-up(md) {
            margin: 1em 0;
            font-size: 24px;
        }
    }
}