.home{
    .button-home{
        margin: .5rem;
    
        .button-home__button{
            width: 100%;
            height: 100%;
    
            .button-home__text{
                font-size: 22px;
                margin: .5rem;
            }
        }
    }
}