.button-level {
    margin: .5rem;
    width: 6em;
    border: #ffffff solid 3px;

    .button-level__button {
        width: 100%;
        height: 100%;
        text-decoration: none;

        .button-level__text {
            font-size: 20px;
            font-weight: 700;
            margin: .5rem;
            color: #ffffff;
        }
    }

    &.completed {
        border: #00b8f0 solid 3px;
        color: #00b8f0;

        .button-level__button {
            .button-level__text {
                color: #00b8f0;
            }
        }
    }
}