$breakpoints:(sm: 350px,
    md: 768px,
    xl: 1200px,
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.level11__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .level11__puzzle {
        width: calc(100% - 2em);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: .3em .8em;

        @include media-up(md) {
            padding: .8em 1em;
        }

        & .level11__file {
            position: relative;
            width: 1em;
            height: 1em;
            font-size: 14px;
            margin: .5em;

            @include media-up(sm) {
                font-size: 18px;
            }

            @include media-up(md) {
                font-size: 20px;
            }

            & .level11__letter {
                opacity: 0;
                animation-name: appear;
                animation-duration: 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &.green {
                    color: #02fe02;
                }

                &.red {
                    color: #fe0202;
                }

                &.blue {
                    color: #02fefe;
                }

                &.grey {
                    color: #777777;
                }
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }
}

$delay: 0;

@for $i from 1 through 4 {
    .level11__letter:nth-child(#{$i}) {
        animation-delay: $delay + s;
    }

    $delay: $delay+1
}